<section class=" container">
    <div class="container-fluid">
        <span class="btn col-sm-1" ng-click="open()" ng-hide="formVisibility"><i class="glyphicon glyphicon-plus-sign icon-mas"></i></span>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td><b>Cédula<b></td>
                        <td><b>Nombre</b></td>
                        <td><b>Rol de Pagos</b></td>
                        <td><b>Modificar / Eliminar</b></td>
                    </tr>
                </thead>
                <tbody ng-repeat="p in profesor">
                    <tr id="{{p.id}}">
                        <td ng-model="p.cedula">{{p.cedula}} </td>
                        <td  ng-model="p.nombre">{{p.nombre}} {{p.apellido}}</td>
                        <td>
                            <button class="btn btn-primary" ng-click="openrol()"><span class="glyphicon glyphicon-list-alt"></span></button>
                        </td>
                        <td>
                            <button class="btn btn-success" ng-click="open(p)"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button class="btn btn-danger" ng-click="remove(p)"><span class="glyphicon glyphicon-remove"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>     
        </div>
    </div>
</section>