<style type="text/css">
	.black{
		color: black;
	}
	.bloque{
		display: block;
		height: 3em;
		width: 3em;
	}
</style>

<body id="">
	<section class="col-md-12">
			<div class="">
				<div class="">
					<div class="">
				   		<a href="#/{{curso._id}}">
					   	<img class="img-circle" ng-src="/img/{{curso._id}}.{{curso.extension}}" width="200" height="200" alt="{{curso.nombre}}">
					   		<h4 class="black">{{curso.nombre}}</h4>
						</a> 
					</div>
				</div>
			</div>
	<br><br>
	</section>
</body>
 	