

<section class="container-fluid fadeInRight delay-06s">
	<div class="col-md-10 col-md-offset-1 col-xs-12" >
		<div class="col-md-6 col-xs-12">
			<h3>Quienes Somos</h3>
			<p >{{fundacion.somos}}</p>
		</div>
		<div class="col-md-6 col-xs-12">
			<iframe width="300" height="225" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Caja%20bamba%20Colta&key=AIzaSyDjOYnYUpacsjo1ug6jhd5B1yVfMxiwZ_Y" allowfullscreen></iframe>
		</div>
		<br><br>
		<div class="col-md-6 col-xs-12">
			<h3>Misión</h3>
			<p >{{fundacion.mision}}</p>
		</div>
		<div class="col-md-6 col-xs-12">
			<h3>Visión</h3>
			<p >{{fundacion.vision}}</p>
		</div>
	</div>
	<br><br>
</section>

