<link rel="icon" href="/icon/favicon.ico">

<nav class="navbar navbar-default navbar-nc">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Barra de navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="pacifico navbar-brand" href="/">Fundación Jaspe</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <!--
       <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar" ng-model="profesor">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button> 
      </form>
       -->
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="/">Registrate</a></li -->
      </ul>
    </div>
  </div>
</nav>
<section ng-app>
    <section class="container-fluid animated fadeInDown delay-1">
            <div class="col-sm-5 col-sm-offset-4 col-md-5 col-md-offset-5 col-lg-offset-7 col-lg-3 borde-login">
                <div class="col-lg-12">
                {{#if success_msg}}
                  <div class="alert alert-success">{{success_msg}}</div>
                {{/if}}

                {{#if error_msg}}
                  <div class="alert alert-danger">{{error_msg}}</div> 
                {{/if}}

                {{#if error}}
                  <div class="alert alert-danger">{{error}}</div>
                {{/if}}

            </div>
                <form name="form2" ng-submit="vm.login()" role="form" method="post" action="/login">
                    <div class="col-sm-11 col-md-12 col-lg-12 form-group" ng-class="{ 'has-error': form2.username.$dirty && form2.username.$error.required }">
                        <label class="sr-only" for="username">Correo</label>
                        <input placeholder="Correo electrónico" type="mail" name="username" id="username" class="form-control" ng-model="vm.username" required />
                        <span ng-show="form2.username.$dirty && form2.username.$error.required" class="help-block">Escriba su correo</span>
                    </div>
                    <div class="col-sm-7 col-md-7 col-lg-7 form-group" ng-class="{ 'has-error': form2.password.$dirty && form2.password.$error.required }">
                        <label class="sr-only" for="password">Contraseña</label>
                        <input placeholder="Contraseña" type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
                        <span ng-show="form2.password.$dirty && form2.password.$error.required" class="help-block">Escriba su contraseña</span>
                    </div>
                    <div class="col-sm-3 col-md-2 col-lg-3 form-actions">
                        <button type="submit" ng-disabled="form2.$invalid || vm.dataLoading" class="btn btn-primary">Iniciar sesión </button>
                        <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </form>
            </div>
    </section>
    <section class="animated fadeInDown delay-2">

         <div class="col-sm-5 col-sm-offset-4 col-md-5 col-md-offset-5 col-lg-offset-7 col-lg-3 borde-login caja-rg">
            <h2>Registrate</h2>
            {{#if errors}}
                {{#each errors}}
                    <div class="alert alert-danger">{{msg}}</div>
                {{/each}}
            {{/if}}
            <form name="form" ng-submit="vm.register()" role="form" method="post" action="/">
                <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
                    <label class="sr-only" for="username">Nombre</label>
                    <input placeholder="Nombre" type="text" name="name" id="name" class="form-control" ng-model="vm.user.name" required />
                    <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Escriba su nombre</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                    <label class="sr-only" for="email">Email</label>
                    <input placeholder="Correo electrónico"  type="text" name="email" id="Text1" class="form-control" ng-model="vm.user.email" required />
                    <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Escriba su correo ejemplo: usuario@hotmail.com</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label class="sr-only" for="password">Contraseña</label>
                    <input placeholder="contraseña" type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Escriba la contraseña</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label class="sr-only" for="password">Confirmar Contraseña</label>
                    <input placeholder="Repita la contraseña" type="password" name="password2" id="password" class="form-control" ng-model="vm.user.password2" required />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Repita la contraseña que  escribió</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-success">Registrarse</button>
                    <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                </div>
            </form>
        </div>
    </section>
</section>
<script src="./js/src/jquery-2.0.3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>

<meta name="keywords" content="Modern Shoppe Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//for-mobile-apps -->
<!--//Custom Theme files -->
<!--js-->

